@import "tailwindcss";
.one{
    background: conic-gradient(from 0deg, rgb(232, 233, 241) -55deg, rgb(250, 213, 0) 15deg, rgb(250, 213, 0) 65deg, rgb(232, 233, 241) 135deg, rgb(232, 233, 241));
}
.two{

    background: conic-gradient(from 0deg, rgb(232, 233, 241) -5deg, rgb(250, 213, 0) 65deg, rgb(250, 213, 0) 115deg, rgb(232, 233, 241) 185deg, rgb(232, 233, 241));
}
.three{
    background: conic-gradient(from 0deg, rgb(232, 233, 241) 45deg, rgb(250, 213, 0) 115deg, rgb(250, 213, 0) 165deg, rgb(232, 233, 241) 235deg, rgb(232, 233, 241));

}
.circle{
    font-family: "Mulish", serif;
    transition: background-image 1s ease-in-out;
    /* background-position: 200px; */
}

.nav div {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(250, 213, 0);
    margin: 2px 0;
}
body{
    font-family: "Mulish", serif;
}
.slide{
    /* right: 0; */
    transform: translateX(-700px);
    transition-duration: 500ms;
}
.black{
    visibility: hidden;
    
}
.locations{
    transition-duration: 500ms;
    visibility: hidden;
    /* overflow: hidden; */
    height: 10px;
    /* transform: translateY(-290px);  */
}
.showLocations{
    visibility: visible;
    height: 220px;
    transition-duration: 500ms;
    transform: translateY(0px);   
}
.quick-links {
    transition: opacity 200ms ease-in-out, height 500ms ease-in-out;
    opacity: 0;
    height: 10px;
    pointer-events: none; /* Prevent interaction when hidden */
}
.invisible-gap {
    /* background-color: #22304a; */
    /* pointer-events: none; */
    height: 10px; 
    position: relative;
    bottom: 30px;/* Adjust based on your design */
    width: 100%;
}
.loc{
    transition-duration: 300ms;
}
.down{
    transition-duration: 300ms;
    transform: rotate(180deg)
}
.quick-links-display {
    opacity: 1;
    height: 100px;
    pointer-events: auto;
}
.slider{
    right: -700px;

}
.c{
    -webkit-box-shadow: 3px 10px 14px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 14px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 14px -9px rgba(0,0,0,0.75);
}
.slide-right{
    transform: translateX(600px);
    transition-duration: 500ms;
}
.grad {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(rgba(34, 48, 74, 0), #22304aec 30%, #22304a);
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* background: conic-gradient(from 0deg, rgb(232, 233, 241) 45deg, rgb(250, 213, 0) 115deg, rgb(250, 213, 0) 165deg, rgb(232, 233, 241) 235deg, rgb(232, 233, 241));
background: conic-gradient(from 0deg, rgb(232, 233, 241) -5deg, rgb(250, 213, 0) 65deg, rgb(250, 213, 0) 115deg, rgb(232, 233, 241) 185deg, rgb(232, 233, 241)); */